<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WebSocket</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/toastr.min.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery-3.7.1.min.js"></script>

    <script type="text/javascript" src="../js/websocket.js"></script>
    <script type="text/javascript" src="../js/coco-message.js"></script>
    <script type="text/javascript" src="../js/task-list.js"></script>
</head>
<body>
    <div id="task-list-container" style="width: 70%;height: 50%; margin: auto; margin-top: 50px;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>任务ID</th>
                <th>任务名称</th>
                <th>总量</th>
                <th>任务状态</th>
                <th>进度</th>
                <th>创建人ID</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>


    <!-- bootstrap的核心js文件 -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/toastr.min.js"></script>
</body>
<script type="text/javascript">
    // 页面初始化方法
    var defaultUserId = "M666666";
    var url = document.URL;
    if (url.indexOf("?userId=") == -1) {
        var newUrl = url + "?userId=" + defaultUserId;
        window.history.replaceState({}, document.title, newUrl);
    }
    var baseHost = "localhost:8081";
    var webSocketUrl = "ws://" + baseHost +"/webSocket/" + document.URL.split("?userId=")[1];
    init("http://" + baseHost, webSocketUrl);
</script>
</html>